	<!-- jQuery Version 1.11.1 -->
	<script type="text/javascript" src="{{ site.baseurl }}/js/vendor/jquery-1.11.1.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script type="text/javascript" src="{{ site.baseurl }}/js/wow.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/js/svgeezy.js"></script>

	<!-- Custom Theme JavaScript -->
	<script type="text/javascript" src="{{ site.baseurl }}/js/scripts.js"></script>